<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion des cours</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/course_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous gérer les cours d'équitation suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/lessons-management"><button mat-button>Gérer les cours</button></a>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion des plannings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/planning_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous gérer les plannings des cours d'équitation suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/plannings"><button mat-button>Gérer les plannings</button></a>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion de mon compte</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/settings_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous modifier vos informations personnelles suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/account-management"><button mat-button>Gérer mon compte</button></a>
    </mat-card-actions>
</mat-card>