<div class="container">
  <h2>Stacked form</h2>
  <form (ngSubmit)="loginHI()">
    <small>{{ msg }}</small>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="hi.horseInstructorEmailId"
      />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="password"
        [(ngModel)]="hi.horseInstructorPassword"
      />
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" />
        Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
  </form>
  <small class="float-right" [routerLink]="['/registerHI']"
    >New User => Registration here</small
  >
</div>
