<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion des chevaux</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/horses_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous gérer les chevaux suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/horses-management"><button mat-button>Gérer les chevaux</button></a>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion des utilisateurs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/users_management_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous modifier les comptes des utilisateurs suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/users-management"><button mat-button>Gérer les comptes utilisateurs</button></a>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion de mon compte</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/settings_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous modifier vos informations personnelles suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/account-management"><button mat-button>Gérer mon compte</button></a>
    </mat-card-actions>
</mat-card>