<mat-card class="mat-elevation-z5">
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="registerAdmin()">
      <h2>Ajouter un administrateur</h2>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Nom"
          [(ngModel)]="admin.adminFirstName"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <mat-error> Le nom n'est pas valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Prénom"
          [(ngModel)]="admin.adminName"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <mat-error> Le prénom n'est pas valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="admin.adminEmailId"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <mat-error> L'adresse email n'est pas valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Numéro de téléphone"
          [(ngModel)]="admin.adminPhoneNumber"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <mat-error> Le numéro de téléphone n'est pas valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Mot de passe"
          [type]="!hide ? 'password' : 'text'"
          [(ngModel)]="admin.adminPassword"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error> Le mot de passe n'est pas valide </mat-error>
      </mat-form-field>
      <button mat-raised-button class="register">Ajouter</button>
    </form>
  </mat-card-content>
</mat-card>
