<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Prendre un cours</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/course_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous inscrire à un cours d'équitation suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/riding-lessons"><button mat-button>S'inscrire à un cours</button></a>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Gestion de mon compte</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="../../assets/img/settings_picture.jpg"/>
        <mat-card-subtitle>Si vous voulez vous modifier vos informations personnelles suivez ce lien :</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/account-management"><button mat-button>Gérer mon compte</button></a>
    </mat-card-actions>
</mat-card>