table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  mat-card {
      max-width: 1200px;
      margin: 2em auto;
  }
  
  th {
      font-weight: bolder;
      font-size: medium;
  }
  
  td, th {
    width: 25%;
  }
  
  button {
      background-color: darkseagreen;
      color: white;
      margin: 5px;
  }