<div class="jumbotron text-center">
  <h1 class="display-4 text-white">Accueil du site du Centre Equestre</h1>
  <h2>
    Pour vous accéder à votre espace personnel, cliquer sur le bouton se
    connecter ou inscrivez-vous.
  </h2>
  <p class="lead mt-4">
    <button mat-button routerLink="/loginRider" class="login">
      <strong>Cavalier</strong>
    </button>
    <button mat-button routerLink="/loginHI" class="login">
      <strong>Moniteur</strong>
    </button>
    <button mat-button routerLink="/loginAdmin" class="login">
      <strong>Administrateur</strong>
    </button>
    <button mat-button routerLink="/loginWA" class="login">
      <strong>Super Administrateur</strong>
    </button>
    <button mat-button routerLink="/registerRider" class="register">
      <strong>S'inscrire (Cavalier)</strong>
    </button>
  </p>
</div>
