.jumbotron {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('../../assets/img/home_picture.jpg')no-repeat;
    background-size: cover;
    min-height: 380px;
    text-align: center;
    padding: 10em;
}

h1, h2 {
    color: white;
}

.login {
    background-color: darkseagreen;
    color:white;
    min-width: 10em;
    max-width: 15em;
    height: 3em;
    margin-right: 10px;
}

.register {
    background-color: white;
    color: black;
    margin: 2em;
    width: 10em;
    height: 3em;
}