<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
        <button mat-button routerLink="/">
            <mat-icon>home</mat-icon>
            {{ title }}
        </button>
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="!isAuthenticated">
            <mat-icon>power_settings_new</mat-icon>
            Se connecter
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/loginRider">Cavalier</button>
            <button mat-menu-item routerLink="/loginHI">Moniteur</button>
            <button mat-menu-item routerLink="/loginAdmin">Administrateur</button>
            <button mat-menu-item routerLink="/loginWA">Super Administrateur</button>
        </mat-menu>
        <button mat-button *ngIf="isAuthenticated">
            <mat-icon>exit_to_app</mat-icon>
            Se déconnecter
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>